<h1> Pick a course to add! </p>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= link_to 'Add this course', ___ %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Home', home_index_path %>